<h1>{{a}}</h1>
<div class="example-header" fxLayout="row">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="eq">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Equipo </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Equipo: "> {{row.eq}} ({{row.es}}) </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="h">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mejor Hito: </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Mejor Hito: ">{{row.r[id-1].h}} ({{row.r[id-1].p.h}} Puntos)
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="b">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Bonus </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Bonus: ">{{row.r[id-1].b}} ({{row.r[id-1].p.b}} Puntos)
            </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="r">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reinicios </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Reinicios: ">{{row.r[id-1].r}} ({{row.r[id-1].p.r}} Puntos)
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="t">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tiempo: </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Tiempo: ">{{row.r[id-1].time | timer | async | date:'mm:ss'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="f">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Puntaje de la ronda </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Puntaje de la ronda: ">{{row.r[id-1].p.t}} Puntos</mat-cell>
        </ng-container>

        <ng-container matColumnDef="v">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row"><button mat-button routerLink="/equipo/{{row.eq}}">Ver más</button></mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [ngClass]="{'ausente': row.a == 0, 'listo': row.a >= id*2 }" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

</div>